/* Styles spécifiques pour le Lycée Moderne d'Antsirabe */
body {
    background-color: #f0f0f0;
  }
  
  .header {
    background-color: #1e88e5;
    color: white;
  }
  
  .footer {
    background-color: #1565c0;
    color: white;
  }