@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white !important;
    opacity: 1.9;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
    transition: 0.4s linear;
    padding: 0px !important;
    /*z-index: 3;*/
}

.footer-icons {
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-8px);
}

.footer-icons:hover>.sepiaa {
    filter: invert(100.10);
}

.button-login, .customLink {
    display: none; /* Cache le bouton par défaut */
  }
  
  @media (min-width: 1024px) {
    .button-login, .customLink {
      display: block; /* Affiche le bouton sur les écrans larges */
    }
  }

  /* src/styles/globals.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    min-height: calc(100vh - 200px);
  }